[2019-05-15 15:35] holisticode opened #1 "[EPIC] Basic Stability Testing - Periodic upload of 20MB files to Swarm"
## Rationale ##
Swarm wants to continuously release updated versions.

## Owner ##
@holisticode

## Stakeholder Point of Contact ##
@nonsense

## Dependencies ##

## Description ##

As a dapp developer on swarm, I should be able to upload periodically files to a private swarm deployment and retrieve them successfully. This epic is about establishing a baseline for 20MB files - upload speed, downlo

[2019-05-15 16:17] FantasticoFox opened #2 "[EPIC] Datafund 100 GB Epic"
## Rationale ##
based on Datafund / Fair Data Society

Google Doc with the EF agreement: https://docs.google.com/document/d/1d6QxK9pzRoynnRg4VVqH1kSOSeLyC2xryrZhfncZHUE/edit

## Owner ##
@justElad @holisticode

## Stakeholder Point of Contact ##
Dan Nickless & Gregor Žavcer

## Dependencies ##
EPIC #1 (Completed)

## Timeline ##
Started April 2019
Target Q3 / Q4 2019

## Description ##
Variant A (

[2019-05-15 16:30] FantasticoFox opened #3 "[User-Story] Basic Persistence Guarantees with Pinned Content - Persistent Website Hosting"
## Rational ##

1. Persistent Website Hosting

Problem
-------
Fairdrop uses Swarm to host the Fairdrop html, css, etc. assets.
We need to ensure this data is always available from Swarm.
At present is possible that this data can be garbage collected if the Swarm node runs out of space.

Proposed Solution
-----------------
To provide a Swarm pinning utility via CLI commands which can be used to ma

[2019-05-15 16:30] FantasticoFox commented on #3
This issue needs work on the structure! Acceptance criteria need to be defined as well as the other open points.

[2019-05-15 16:57] FantasticoFox opened #4 "[User-Story] Predictability for availability of temporary files"
## Rational ##
Metric needed: Most Recent Garbage Collected Chunk Timestamp: Report latest garbage collected file (time stamp)

## User Story ##

A file stays temporary available for download. For good usage I need to know how long my file will be available. I would like to have good estimation for the availability of my content / file.

## Epic link ##
Epic #2

## Acceptance criteria ##

- [ ] I

[2019-05-15 17:07] FantasticoFox opened #5 "[User-Story] Persistent Swarm Feeds Used as Application Data Storage"
## Rational ##

Persistent Swarm Feeds Used as Application Data Storage
Problem
-------
Fairdrop wants to use Swarm Feeds to maintain a manifest of files uploaded by a certain user, or sent between users, amongst many other things.
This application level data is distinct from files which are just 'stored' because Datafund would like to guarantee the integrity of this data, but allow uploaded file

[2019-05-15 17:24] FantasticoFox opened #6 "[User-Story] Progress Bar for completed syncing of a file with swarm"
## Rationale ##
Allowing to tell once syncing of chunks for an uploaded file is valuable to know to share e.g. a link of a uploaded file with a friend.

IMPORTANT: THIS USER STORY IS TOO BIG - potentially other chunking of this work is required.

## User-Story ##

The uploaded gets notified by the network through their local api if the syncing is complete
it’s solved through push syncing (with tag

[2019-05-16 07:34] nolash commented on #6
@justelad should be part of this assignment no since he wrote `tags`?

[2019-05-16 17:11] acud commented on #6
Yeah this one is mine.. thx @nolash

[2019-05-16 18:02] cobordism opened #7 "[User-Story] Use "swarm start" to get started"
# Issue NAME #
A simple command to get started

## Epic link ##

## Description ##
As a new user to Swarm, I want to be able to type a simple command such as `swarm start` to get up and running with the default network.

## Acceptance criteria ##
I do not want to have to generate keys with geth and copy the address and paste it as an argument to a --bzzaccount flag or anything like that.
At the ve

[2019-05-25 12:05] FantasticoFox opened #8 "[EPIC] Adaptive Clients for Swarm"
## Rationale ##

This EPIC aims to form a broad collaboration for developing and implementing adaptive nodes for swarm (also known as light nodes).

The collaboration is intended to set requirements, specifications and implement a production grade adaptive/light node for Swarm[p0] suitable for resource-restricted devices (bandwidth, cpu and disk) that is minimally capable of supporting PSS[p1], an

[2019-05-26 11:12] pipermerriam opened #9 "[EPIC] Ethereum header chain over swarm"
## Rationale ##

The header chain for the mainnet is needed by every Ethereum client.  The data is *effectively* append only and regularly accessed.  This makes it a prime candidate for storage on the Swarm network.

## Owner ##

@pipermerriam

## Stakeholder Point of Contact ##

- piper@pipermerriam.com

## Description ##

- a mechanism for header data to be stored in Swarm
- a mechanism for swar

[2019-05-26 11:47] pipermerriam commented on #9
I'd propose the following appoach.

- Phase 0
    1. [ ] ability to do the sub protocol handshake (currently there is no defined handshake logic but maybe there should be an announce message)
- Phase 1 (ethereum node only)
    1. [ ] Ethereum node advertises headers via `NewHeaders`.
    2. [ ] Upon connection, Ethereum node advertises the latest 256 headers from its header chain.
    3. [ ] Ether

[2019-05-26 19:34] FantasticoFox commented on #1
any updates @nonsense ?

[2019-05-27 15:00] pipermerriam commented on #9
One issue to resolve is from the client perspective to know what type of node you are connected to.  At the beginning we can just use the `capabilities` that are broadcast on connection and sniff it for `eth` or `bzz`, but before we formalize this we will need an `Announce` style message that has flags like `serves_headers` to signal whether the node you are connected to is willing to respond with

[2019-05-28 10:02] holisticode opened #10 "[User-Story] Pinned content"
## Rationale ##
Until swarm is stable, it would be of great benefit to dapps if they can count on content being available from the local node at all times.

## Owner ##
@justelad

## Stakeholder Point of Contact ##
Gregor Žavcer & Zahoor Mohamed

## Dependencies ##

## Description ##
As a user, I want to upload content to my local node so that it is available at all times.
There should be HTTP API

[2019-05-28 11:04] PaulLeCam opened #11 "[User-Story] Swarm usage in MainframeOS"
## Rationale  ##

MainframeOS uses Swarm to provide decentralised services.

## User-Story ##

MainframeOS is a desktop application allowing users to:
- Manage Ethereum wallets
- Add and interact with contacts (using Swarm feeds)
- Store files (using Swarm)
- Install and update applications (using Swarm feeds)

Currently we are using our own Swarm network and HTTP gateway, but are eager to replace

[2019-05-30 12:20] acud commented on #10
The task breakdown is as follows:
1. upload with pin header flag
2. http interface for bzz-pin for PUT/DELETE for pinning just a hash/ens name
3. generalise mechanism for restricting localhost for admin functionality
4. cli interface for get/add/delete pins
5. traversal for downloading and pinning a hash
6. implement reference count in localstore
7. manage pinned content volume in connection with

[2019-05-30 12:56] jmozah commented on #10
Is this okay if we do like this..
1 base issue, 1 for pinning while uploading, 1 issue for adding http interface, 1 for feeds support

[2019-05-30 15:11] cobordism opened #13 "[EPIC] Clean CLI interface and Config File"
## Rationale ##
The main ways for users to configure any service they run is through command-line flags and a configuration file (and possibly environment variables). Therefore these should (a) work well, (b) be easy to use, (c) be predictable, and (d) be well documented.

## Owner ##
@homotopycolimit

## Stakeholder Point of Contact ##

## Dependencies ##
Swarm originally inherited its CLI flag p

[2019-06-05 12:46] holisticode opened #14 "[EPIC] Swarm Incentive MVP - Storage"
## Rationale ##
Swarm defines itself as an **incentivized** p2p storage and messaging layer. To archive this goal we build our first incentive's MVP.

## Timeline ##
Started June 2019
Target Q3 / Q4 2019

## Owner ##
@holisticode

## Description ##
As a Swarm network participant, my cooperative behavior is encouraged while the uncompensated depletion of limited resources is discouraged. The descri

[2019-06-05 14:41] holisticode opened #15 "[User-Story] 20MB upload and availability"
## Rationale ##
In order to fulfill https://github.com/ethersphere/user-stories/issues/2, several intermediate milestores need to be reached.

This user story is about reaching the 20MB milestone.

## User-Story ##
A user is able to upload through https://fairdrop.xyz/ a large file and is able to share this file via link with another person which is able to download that file via browser from thei

[2019-06-05 14:48] holisticode opened #16 "[User-Story] 100MB upload and availability"
## Rationale ##
In order to fulfill #2, several intermediate milestores need to be reached.

This user story is about reaching the 100MB milestone.

## User-Story ##
A Dapp developer is able to upload and download 100MB files with high degree of consistent and success to and from swarm through a dedicated swarm node using the swarm public API.

## Epic links ##
https://github.com/ethersphere/user-

[2019-06-05 14:48] holisticode opened #17 "[User-Story] 200MB upload and availability"
## Rationale ##
In order to fulfill #2, several intermediate milestores need to be reached.

This user story is about reaching the 200MB milestone.

## User-Story ##
A Dapp developer is able to upload and download 200MB files with high degree of consistent and success to and from swarm through a dedicated swarm node using the swarm public API.

## Epic links ##
https://github.com/ethersphere/user-

[2019-06-05 14:49] holisticode opened #18 "[User-Story] 500MB upload and availability"
## Rationale ##
In order to fulfill #2, several intermediate milestores need to be reached.

This user story is about reaching the 500MB milestone.

## User-Story ##
A user is able to upload through https://fairdrop.xyz/ a large file and is able to share this file via link with another person which is able to download that file via browser from their local computer.

## Epic links ##
https://githu

[2019-06-05 15:02] holisticode commented on #15
Closed as fulfilled with the 0.4 release

[2019-06-05 15:02] #15 closed, assigned to nonsense

[2019-06-05 15:05] nonsense opened #19 "improve user stories with initial checklists for UAT, env variables, etc."

[2019-06-06 07:00] holisticode opened #20 "[User-Story] See balances with other peers"
## Rationale ##
Swarm is incentivized. Incentivization is based on accounting for service exchanges. During such a service exchange, the balance of service consumption and delivery is accounted for mutually between peers.

## User-Story ##
As a node operator, I want to see the balances my node has with other peers.

## Epic links ##
https://github.com/ethersphere/user-stories/issues/14

## Accepta

[2019-06-06 07:37] holisticode opened #21 "[User-Story] Settle automatically"
## Rationale ##
Swarm is incentivized. Incentivization is based on accounting for service exchanges. During such a service exchange, the balance of service consumption and delivery is accounted for mutually between peers.

When a node's balance in respect to a particular other peer crosses a pre-defined threshold, settlement is required.

## User-Story ##
As a node operator, I want my imbalances w

[2019-06-06 08:29] vojtechsimetka opened #22 "[User-Story] See file retrieval price"
## Rationale ##
Knowing how big (expensive) file retrieval of a given file is should be one of the basic functionalities for incentivised system.

## User-Story ##
As a user or a node I should be able to check the price of retrieving given file before doing so.

## Epic links ##
#14

## Acceptance criteria ##
Price for file retrieval based on current swap fees and file number of chunks.

## Requir

[2019-06-06 08:48] vojtechsimetka opened #23 "[User-Story] Public gateway incentivisation"
## Rationale ##
Participation in Swarm should be incentivised, by providing public gateway I should be rewarded for this service.

## User-Story ##
As a public node operator (=gateway) I want to (optionally) charge the user requesting files to cover my cost with additional margin.

## Epic links ##
#14

## Acceptance criteria ##
- Node shows how expensive retrieving given file would be (network fe

[2019-06-06 09:58] FantasticoFox commented on #7
Please update title with [User-Story]

[2019-06-06 10:33] nonsense commented on #19
@holisticode initial checklist for UAT and environment configuration has been added to https://github.com/ethersphere/user-stories/issues/16

@holisticode please review and give feedback when you have a chance ;)

[2019-06-06 11:02] #19 closed, assigned to nonsense, holisticode

[2019-06-06 11:14] vojtechsimetka commented on #7
@FantasticoFox wouldn't it be easier to use label?

[2019-06-06 11:19] vojtechsimetka opened #24 "[User-Story] Storage node incentivisation"
## Rationale ##
Participation in Swarm should be incentivised, I should be rewarded for providing storage and bandwidth.

## User-Story ##
1. I have spare capacity on my disk which I would love to get paid for.
2. I want to run server on AWS/DigitalOcean and profit on the storage I provide

## Epic links ##
#14

## Acceptance criteria ##
Easily start new node, setup payment account and start being

[2019-06-06 15:14] FantasticoFox commented on #1
How can we get this closed? @nonsense whats the proof? Whats the missing gap?

DO we need a UAT - User Acceptance Test with a defined proof that it worked without errors for 24hrs 3 days in a row or so?

[2019-06-06 15:14] FantasticoFox commented on #15
Where is the Proof. Based on what UACs this was reached? @holisticode @nonsense

[2019-06-07 08:39] nolash commented on #24
I find it unclear whether this user story is about incentivizing people to create nodes (by making it easy to run nodes), or the incentivization of the network itself.

Perhaps title should be "make money easily with swarm"

[2019-06-07 08:46] nolash commented on #16
@nonsense @holisticode average measurements are measured on `lo`?

[2019-06-07 08:51] nolash commented on #11
@PaulLeCam sorry this isn't very clear to me. You mean a light client should be able to do what one does currently through a gateway? Can you please list specifics that _you_ need in this context? Thanks.

[2019-06-07 09:06] nonsense commented on #16
@nolash could you be more specific about what `lo` means? I don't understand your question.

[2019-06-07 09:10] nolash commented on #16
Sorry, loopback interface - that is, upload is done from the same host as the running swarm node.

[2019-06-07 09:16] nolash commented on #5
To improve clarity: does this mean that any chunk belonging to any root hash in the manifest pointed to by the feed should be protected from GC, while the _feed address_ would be what is registered in the contract?

[2019-06-07 09:20] nolash commented on #4
The terms "certainty" and "dependencies" need to be specificied way more in detail here.

For example, if someone decides to flood the network with chunks, network activity from the last few minutes might not be a valid heuristic.

[2019-06-07 09:23] nolash commented on #3
Is this more or less a duplicate of https://github.com/ethersphere/user-stories/issues/5 ?

[2019-06-07 09:26] nonsense commented on #16
@nolash yes, this is point 6, but we actually don't have it implemented right now.

[2019-06-07 09:58] nonsense commented on #1
This user story was the primary requirement for stability for the v0.4 release.

We didn't document it as rigorously as we plan to define and document all the future milestones for the 100MB, 200MB, 1GB, etc. uploads.

The release notes for the v0.4 can be found at https://www.reddit.com/r/ethswarm/comments/bpqxeu/swarm_v040_released/

For this particular user story, we ran multiple deployments of

[2019-06-07 09:58] #1 closed, assigned to nobody

[2019-06-07 10:58] PaulLeCam commented on #11
Currently MainframeOS interacts with a HTTP gateway, but the original idea was to embed the Swarm binary with the MainframeOS binary, run Swarm and interact with it locally so no gateway would be needed. We switched to using a gateway instead as Swarm nodes are meant to be "always on" so it wasn't ideal for our setup.

Now with a light client, I am wondering how it could be embedded in MainframeOS

[2019-06-07 12:30] FantasticoFox opened #26 "[EPIC] Incentivisation for the Communication Layer of Swarm MVP"
## Rationale ##
The communication layer suffers from the same spamming / abusive / tragedy of the commons problem like the rest of the network. lncentives are used to resolve those issues.

## Owner ##
@nolash / oskar from status

## Stakeholder Point of Contact ##
Oskar - Status

## Dependencies ##
Swarm Incentive MVP #14
Specifications of the Protocol
Clarification for Accounting

## Description

[2019-06-10 10:15] FantasticoFox commented on #6
https://github.com/ethersphere/swarm/pull/1323

[2019-06-10 10:47] FantasticoFox commented on #6
I need input on the dependencies @acud @zelig can you please clarify?

[2019-06-10 12:38] agazso opened #27 "[User-Story] Swarm Lightnode on Felfele mobile app"
## Rationale ##

The Felfele mobile app uses Swarm storage for storing user data and feeds to store updates. Currently all data is public because the app is using Swarm gateways. In order to be able to store private data it needs encryption and access control and that's not possible with gateways. With a light node on mobile it would be possible to use all the functionality of Swarm (including inc

[2019-06-10 13:00] PaulLeCam commented on #22
Would these RPC endpoints also work for manifests (returning the price of downloading all the files included) or is this only for raw files please?

[2019-06-10 14:17] nolash commented on #27
Related:

* https://github.com/nolash/swarm-adaptive-node/blob/master/user_readwrite.md
* https://github.com/nolash/swarm-adaptive-node/blob/master/user_pss.md
* https://github.com/nolash/swarm-adaptive-node/blob/master/user_make.md

[2019-06-10 16:56] FantasticoFox opened #28 "[EPIC] Complete Swarm Documentation"
## Rationale ##
As a interested party of Swarm I would like to find a place where I get all information needed to

* Swarm Node Operator:  To operate a swarm node
* Swarm Dapp Developer:  Get involved in the development of a swarm client
* Swarm New-Client-Implementation: Learn about the Protocol Specification
* Swarm Go-Client-Contributor: How to get involved to contribute to the client-codebase

[2019-06-10 17:03] FantasticoFox opened #29 "[User-Story] Documentation - Dapp Developer "How to get started?""
## Rationale ##
Swarm has many Dapp-Developer which are interested in building on swarm as a Web3 core-infrastructure. This documentation provides all what they need to do that.

## User-Story ##
I as a Dapp-Developer find all information I need to create a Dapp to interface with the storage and communication functionality provided by swarm.

## Epic links ##
Swarm Documentation #28

## Acceptance

[2019-06-10 17:12] FantasticoFox opened #30 "[User-Story] Documentation - Protocol Specification "How does the swarm network operates?""
## Rationale ##
Swarm Documentation should provide everything needed to fully understand how the Swarm network works and how it provides it's services as part of the Web3 core-infrastructure. This documentation provides all what they need to clarify how the network operates.

## User-Story ##
I as a technologist who is evaluating swarm I want to find all information I need to create an independent

[2019-06-10 17:15] vojtechsimetka opened #31 "[User-Story] Documentation - Node Operator "How to operate swarm nodes""
## Rationale ##

Swarm documentation should provide everything I need to participate as a node both in the official swarm networks or my own. These includes:

* Economics of operating
* Swarm Nodes
    * How to run your own swarm node
    * Upgrade, secure and expose your swarm node
    * Setup of the swarm node
         * Full node
         * Adaptive node
* Run Swarm-Clusters
* Deploy a permissi

[2019-06-10 18:24] FantasticoFox commented on #2
Related issue https://github.com/ethersphere/swarm/pull/1395 (please reference)

[2019-06-10 19:19] holisticode opened #32 "[User-Story] Documentation - Go-client implementation"
## Rationale ##

If as a developer I want to contribute to the go-client implementation, I should be able to find all relevant documentation in one place. The documentation should include:

* Software-Module Description
* Module-interfaces
* Flow-Diagrams of the Modules
* Link to Repositories
* Testing & Debugging-Framework
   * How to run the test

## User-Story ##
As a go-client contributor I kn

[2019-06-12 15:44] FantasticoFox opened #33 "[EPIC] Network Testing Framework"
## Rationale ##

As a swarm developer I would like to target my tests against remote swarm nodes by using the simulation framework.

## Owner ##
Rafael @skylenet

## Stakeholder Point of Contact ##
Communication Track: Louis, Oskar (Status)
Incentive Track: Fabio, Vojtech (OIVLabs)

## Description ##

## Context ##

Swarm has a simulation framework used to run integration tests across multiple swa

[2019-06-15 05:38] FantasticoFox commented on #33
Please Rafael - rework the EPIC and assign User-Stories :) @skylenet

[2019-06-15 05:50] FantasticoFox commented on #8
@nolash please add all related user-stories after clarification

[2019-06-16 18:24] nolash commented on #8
@FantasticoFox you have written `devp2p to Libp2p transition` here. I do not think that can be in scope for Q3. Where did you get this dependency from?

[2019-06-16 18:25] nolash commented on #11
I would imagine that the same API would be provided, provided that the functionality is available. Some possible decisions to be made:

* How we handle eg. POST requests to a lightnode only set to _read_ from the network
* If pss-only node, should http server reject connections or generate errors?

Can we think of others?

This is definitely a possible scenario, but it's further down the road as I

[2019-06-17 09:05] PaulLeCam commented on #11
I think the HTTP server should not reject connections as it might be tricky for the client to understand the cause of the issue, but respond with a standard HTTP error for unavailable functionalities.
Maybe it could return a HTTP `501 Not Implemented` (not really true though) or `503 Service Unavailable` (though I think this one is usually used as a temporary state)?

It would be useful for client

[2019-06-17 09:32] nolash commented on #11
This sounds like a good idea. Would you like to outline something concrete around this that we could discuss?

[2019-06-17 09:50] PaulLeCam commented on #11
I think it would be something like doing a `GET /capabilities` and getting a JSON back with fields such as:
[code]
That's assuming these are the possible variants, I think it depends on the granularity of the keys? Here I added `bzz.pin` as it's not really a read or write operation, but maybe it would be under a more generic `bzz.admin` flag?

If there are other limitations that could be set by th

[2019-06-17 11:23] nolash commented on #11
This is actually a user story :D

[2019-06-17 12:55] PaulLeCam opened #34 "[User-Story] HTTP endpoint for adaptive node capabilities"
## Rationale ##

Adaptive nodes may not provide all the functionalities that can currently be expected from Swarm.
It would be useful for applications to be able to know these capabilities in order to adapt the app's functionalities accordingly.

## User-Story ##

As an application developer I would like to be able to know the functionalities supported by a Swarm node I connect to.

## Epic links

[2019-06-17 12:56] PaulLeCam commented on #11
👍 Added https://github.com/ethersphere/user-stories/issues/34

[2019-06-17 14:06] nolash commented on #11
Perfect!

[2019-06-19 09:03] nonsense commented on #16
Given the `Acceptance criteria` I think this is story is mostly complete, and it highlighted a few issues we should work on in the future.

## Acceptance criteria ##
- [x] Upload of 100MB every 3min.
- [x] Git commit or tag of Swarm codebase under test
- [x] Git commit or tag of the test setup infrastructure (helm charts, yaml configuration, etc.) under test
- [x] Grafana screenshot of `Smoke test

[2019-06-19 09:07] acud commented on #16
Awesome work @nonsense :clap: :pray:

[2019-06-19 14:44] nolash opened #35 "[EPIC] Swarm Adaptive Node MVP 1"
## Rationale ##

It should be possible to use Swarm on as many types of devices and configurations as possible.

## Owner ##

- Swarm: Louis Holbrook @nolash

## Stakeholder Point of Contact ##

- Status: Oskar Thorén @oskarth
- Felfele: Attila Gazso @agazso
- Mainframe: Paul Lecam @PaulLecam
- Datafund: Daniel Nickless @significance

## Dependencies ##

The two first subtracks below contain parts

[2019-06-19 14:46] nolash opened #36 "[User-Story] Adaptive node operation"
## Rationale ##

Light node operation extract resources from the Swarm network in exchange for payment. But if there are too many light nodes that only consume, they may exceed the capacity of the network. It will benefit capacity and stability if nodes normally operating in light mode can participate in relaying traffic in periods where they have access to more resources.

## User-Story ##

As a

[2019-06-19 14:55] nolash opened #37 "[User-Story] Light node bzz retrieve"
## Rationale ##

Some devices and some scenarios come with restriced resources. Simulatenously these devices and scenarios may represent the bulk for end-users for applications building on Swarm. It must be possible to run Swarm with the bare necessities for the application's purpose.

## User-Story ##

I want to run a node that only retrieves data from the network on demand. My node will pay dire

[2019-06-19 14:56] nolash opened #38 "[User-Story] Light node bzz retrieve and post"
## Rationale ##

Some devices and some scenarios come with restriced resources. Simulatenously these devices and scenarios may represent the bulk for end-users for applications building on Swarm. It must be possible to run Swarm with the bare necessities for the application's purpose.

## User-Story ##

I want to run a node that both saves data to network and retrieves data from it on demand. I wi

[2019-06-19 14:58] nolash opened #39 "[User-Story] Adaptive connection guarantee"
## Rationale ##

Quality of light node operation will determine the quality of experience for end-users of the majority of applications built on Swarm. It is therefore crucial that connections happen quickly and are stable.

## User-Story ##

As a light node operator, I want a guarantee that I can always find a node to connect to in the network, regardless of how much I participate in forwarding m

[2019-06-19 15:00] nolash opened #40 "[User-Story] Hello PSS on mobile"
## Rationale ##

Short-term milestone to help inform goal-oriented development

## User-Story ##

As an app developer, I want to be able to easily run Swarm/PSS on mobile and get a basic end-to-end hello world going. This doesn't include connectivity strategies etc, and is expected to be naive.

This user story showcases examples on iOS and Android on how to make use of the compiled Swarm binaries

[2019-06-19 15:01] nolash opened #41 "[User-Story] Simple compilation of adaptive node"
## Rationale ##

To increase chances for adoption among developers, it is important that it's easy to get started and to iterate over implementation changes.

## User-Story ##

As an adaptive node operator I want to be able to easily compile binaries for the most relevant targets.

## Epic links ##

https://github.com/ethersphere/user-stories/issues/35

## Acceptance criteria ##

## Requirements #

[2019-06-19 15:07] nolash opened #42 "[User-Story] Determine network size"
## Rationale ##

Cost of using Swarm may depend on the size of the network, insofar as bigger networks increase number of hops traffic will have to make to reach its destination.

A querible network size heuristic is a basis building block for more complex estimations of network size in the future.

## User-Story ##

As an application developer I want my node to tell me how many nodes there are in

[2019-06-19 15:09] nolash opened #43 "[User-Story] PSS Light mode"
## Rationale ##

Some devices and some scenarios come with restriced resources. Simulatenously these devices and scenarios may represent the bulk for end-users for applications building on Swarm. It must be possible to run Swarm with the bare necessities for the application's purpose.

## User-Story ##

As a dapp developer I want to be able to integrate with pss without having to forward traffic f

[2019-06-19 15:10] nolash opened #44 "[User-Story] Cluster PSS network testing"
## Rationale ##

Need to prove that pss actually performs in an actual p2p networked environment

## User-Story ##

As a developer deciding whether or not to use pss, I want the best possible guarantee a simulation can give that pss actually can perform in a real life network setting.

The simulation should be capable of generating a high arbitrary number pss message sends and verifying which node

[2019-06-19 15:12] nolash opened #45 "[User-Story] Adaptive server"
## Rationale ##

To ensure stability and availability in the network, full nodes must make sure that they can serve as many light nodes up to their available resources while at the same time maintain connections to enough full nodes so quality of service of persistence and relaying can be maintained.

## User-Story ##

I want to run a node that can serve peers that don't want to store data and ser

[2019-06-19 15:13] nolash opened #46 "[User-Story] Adaptive server for PSS"
## Rationale ##

To ensure stability and availability in the network, full nodes must make sure that they can serve as many light nodes up to their available resources while at the same time maintain connections to enough full nodes so quality of service of persistence and relaying can be maintained.

## User-Story ##

I want to run a node that can serve peers that don't want to forward pss messag

[2019-06-19 15:14] nolash commented on #8
Obsoleted by https://github.com/ethersphere/user-stories/issues/35

[2019-06-19 15:14] #8 closed, assigned to nolash

[2019-06-19 15:45] nolash commented on #11
Changed epic ref to #35

[2019-06-19 15:48] nolash opened #47 "[User-Story] PSS incentivized routed traffic"
## Rationale ##

It should be profitable for nodes to support the pss network.

## User-Story ##

I want to pay the network to relay a pss message for me. The message will have a fully specified address. I need to be able to determine in advance how much it would cost to send the message, which involves:

* Determine the size of the network
* Find amount of hops the message will make
	- For prox s

[2019-06-19 15:48] nolash opened #48 "[User-Story] PSS incentivized partially addressed"
## Rationale ##

It should be profitable for nodes to support the pss network.

## User-Story ##

I want to pay the network to relay a partially addressed pss message for me. I need to be able to determine in advance how much it would cost to send the message, which invlices:

* Determine the size of the network
* Find amount of hops the message will make
* Find price for a single routing hop of t

[2019-06-19 15:49] nolash opened #49 "[User-Story] PSS incentivized dark traffic"
## Rationale ##

It should be profitable for nodes to support the pss network.

## User-Story ##

I want to pay and/or provide proof of some cost the network to broadcast a un-addressed pss message for me. I need to be able to determine in advance how much it would cost to send the message, which involves:

* Determine the size of the network
* Find price for a single routing hop of the message
*

[2019-06-19 15:52] nolash commented on #27
Updated epic link to #35

[2019-06-19 15:53] nolash commented on #27
I think this converges on milestone for Q3 and should be covered by in total:

https://github.com/ethersphere/user-stories/issues/40
https://github.com/ethersphere/user-stories/issues/41
https://github.com/ethersphere/user-stories/issues/43
https://github.com/ethersphere/user-stories/issues/37
https://github.com/ethersphere/user-stories/issues/38

[2019-06-19 16:13] nolash opened #50 "[EPIC] Cross-client Swarm implementation"
## Owner ##

Swarm: Louis Holbrook @nolash

## Stakeholder point of contact ##

Status: Oskar Thorén @oskarth

## Rationale ##

The best proof of good architecture is the ability to create multiple implmentations of it.

## Dependencies ##

Written specs, stored in [https://github.com/ethersphere/node-implementer-spec](https://github.com/ethersphere/node-implementer-spec)

[ ] - Swarm overlay addr

[2019-06-20 07:24] zelig commented on #16
@nonsense @acud 👏 🙇 ❤️

[2019-06-20 09:42] FantasticoFox commented on #28
Highly related https://github.com/ethersphere/user-stories/issues/50

[2019-06-20 11:02] FantasticoFox commented on #16
How do we get confirmation to close. It would be great if this is verified from a third party to confirm success :)

[2019-06-20 14:33] holisticode commented on #16
@FantasticoFox in my opinon the above screenshots and config links etc. **are** the confirmation. For example, the screenshot shows that the upload happened with 100000kb (100MB), look at the legend below the first widget on the upper left.

The other widgets show that there were no failures (second widget upper right), you can see that it is a print of the last 24 hours (header upper right)

You

[2019-06-23 14:40] acud opened #51 "[Upgrade] Stream! Module (Refactor pull sync)"
## Rationale ##

## Owner ##
@acud @nonsense

## Stakeholder Point of Contact ##

## Dependencies ##

## Description ##
As a Swarm node I'd like to sync content when joining the network.
I'd like to sync new content to its correct location in the network and I'd like to sync existing content from my nodes in order to support the Swarm and help maintain content redundancy.

## Context ##
This epic

[2019-06-24 08:44] acud commented on #2
related to (and somewhat dependent on) https://github.com/ethersphere/user-stories/issues/51

[2019-06-26 15:54] pipermerriam commented on #9
still a little soon for it but we should migrate this to a markdown document that we can open pull requests to at some point so that we can track changes.  Probably only needed once we have the two clients talking to each other.

[2019-06-26 16:51] pipermerriam commented on #9
@zelig https://notes.ethereum.org/k1yEcw1gSo-iCNmEOmpUUg

I will not be surprised if there is something broken, there you go, should be a good starting point for us to get our nodes connected to each other.

[2019-07-03 07:06] acud opened #53 "[User-Story] Burst-able local storage size"
## Rationale ##
A Swarm node's local storage is limited to a certain default value of number of chunks that should exist in the database. In order to be sure we can support the upload of very large file, an explicit test to verify that local store supports burst-able size growth to accommodate for varying requirements during uploads.

## User-Story ##
I as a user would like to upload a very large

[2019-07-03 08:55] nonsense commented on #53
Acceptance criteria: `upload a 5gb file to a local swarm node which is not connected to the network with the maximum capacity set at 500mb` this makes no sense, why would we want to do that?

[2019-07-03 09:09] janos commented on #53
Not connected node will not be able to sync chunks so that chunks are not garbage collected.

[2019-07-03 09:12] nonsense commented on #53
As a user of Swarm (considering how Swarm works today), if I set max storage to 500MB, and then it uses 5GB, I will remove it immediately.

Swarm in the future should by default start as a light node most probably, I am not sure regular nodes belong to user's laptops, etc. I think @zelig will agree with this in general.

So I am not sure why we have this user story at all.

[2019-07-03 12:09] nonsense commented on #17
Preliminary results are very similar to the 100MB user story: https://snapshot.raintank.io/dashboard/snapshot/70i0Gv4nd0tMrkPtX1G1yPnufOIJd5qs

[2019-07-04 14:04] #16 closed, assigned to nonsense, skylenet, acud

[2019-07-14 09:43] FantasticoFox commented on #28
SWIP Process has been implemented (needs attention over the next weeks!) description and SWIPs found here. https://github.com/ethersphere/SWIPs - Daniel Nagy mainly in charge for protecting the process. Viktor and Me supporting to gather all content and create SWIP drafts to reduce backlog for SWARM.

[2019-07-14 09:44] FantasticoFox commented on #28
Furthermore the Swarm-Docs had been restructured with the personas mentioned in the different user-stories.Waiting for review by @holisticode  https://github.com/ethersphere/swarm-docs to confirm the structure and establish it.

[2019-07-14 09:45] FantasticoFox commented on #32
SWIP Process has been implemented (needs attention over the next weeks!) description and SWIPs found here. https://github.com/ethersphere/SWIPs - Daniel Nagy mainly in charge for protecting the process. Viktor and Me supporting to gather all content and create SWIP drafts to reduce backlog for SWARM.

The documentation in the swarm guide requires attention to create a cohesive picture how the diff

[2019-07-14 09:47] FantasticoFox commented on #31
I would like to reduce the scope to the current implementaiton status and then start iterative user-stories with the new elements which should be added to this documentation. Who is most suitable to support me to review and rewrite this section together? @skylenet @holisticode

[2019-07-14 09:48] FantasticoFox commented on #29
I would like to ensure that we are preparing for Workshops at Web3 and DeVcon - for this, this section will be THE point of reference. @nolash are you willing to support the improvement of this section? Who else could ship in and support?

[2019-07-19 10:49] FantasticoFox commented on #10
This is a user-story in my opinion which serves the 100 GB MVP EPIC #2 so I changed it to be a user-story. After conversations with Datafund, Elad, Zahoor Crt and Gregor technical ownership goes to Zahoor. This is now represented in our board as a userstory in review. We need to work that through next week to ensure it's containing all the elements to be fine (acceptance criteria, tests etc)

[2019-07-19 14:32] FantasticoFox commented on #51
Changed it to User-Story as it is not a feature collection.

[2019-07-19 14:34] FantasticoFox commented on #51
Acceptance criteria are not well enough defined. Please improve this @acud @janos

- Smoke tests with improved performance
- No errors in logs/metrics
- Debuggable (simpler current version)

[2019-08-07 11:39] acud commented on #10
done :heavy_check_mark:

[2019-08-07 11:39] #10 closed, assigned to jmozah, acud

[2019-08-22 13:08] jmozah commented on #9
https://github.com/ethersphere/swarm/pull/1685

[2019-08-26 08:21] #17 closed, assigned to nonsense, skylenet, acud

[2019-08-28 18:36] FantasticoFox commented on #6
I would advice that there is a end-2-end demo with a basic front-end to complete this feature and show it to the community. I also think this could be of interest for the Datafund team and the DAPP for hosting files? @skylenet @jmozah can you check who can take on the front-end work and create an issue which is linked to this issue?

[2019-08-28 18:48] FantasticoFox commented on #29
The issue was reverted to "todo" the structure of the documentation has been completed. Most valuable would now be to improve it incrementally. As "Pinning" is one of the latest features we will make specfic improvement steps. Therefore converting this issue to be more specific and be an improvement to accommodate the documentation for using the pinning API.

[2019-08-29 06:49] FantasticoFox commented on #35
Focus was shifted strongly in favor of getting the spec's first. @nolash please update the epic accordingly to the new ETA estimation for doing the adaptive node implementation.

[2019-09-02 06:57] jmozah opened #54 "[User-Story] Bzz-Eth Phase 1"
## Rationale ##
The rationale is to bridge Swarm and Ethereum nodes so that the block headers can be stored inSwarm and accessed. More details in EPIC link below

## User-Story ##
This user story is to do the Phase 1 of the bzz-eth protocol.
The Phase 1 means that the Swarm node should connect to the Trinity client , handle header hash messages and request the headers from the trinity node and sto

[2019-09-02 06:57] jmozah commented on #54
PR https://github.com/ethersphere/swarm/pull/1685

[2019-09-23 13:35] acud commented on #51
This is done

[2019-09-23 13:35] #51 closed, assigned to nonsense, janos, acud

[2019-09-25 12:01] vojtechsimetka commented on #20
This should be done, right @holisticode ?

[2019-09-25 12:03] vojtechsimetka commented on #21
Probably done as well @holisticode ?

[2019-09-26 15:38] PaulLeCam opened #56 "[User-Story] Detect pinning support"
## Rationale ##

Clients should have a simple way of checking if a Swarm server supports pinning content.
One way this could be achieved now is to do a `GET bzz-pin` in order to list the pins and detect if the response code is `403`, but this seems wasteful for the Swarm server to return the list of pins when the client doesn't actually need it.

## User-Story ##

As a dapp developer I would like

[2019-10-01 20:59] #20 closed, assigned to nobody

[2019-10-01 21:01] #21 closed, assigned to nobody

[2019-10-01 21:02] holisticode commented on #24
I always understood this as basically "implement swap for swarm nodes"

[2019-10-01 21:02] #24 closed, assigned to nobody

[2019-10-07 16:34] #29 closed, assigned to nobody

[2019-10-09 22:54] KaiRo-at opened #57 "[User-Story] Allow using a different storage backend for pinned data"
## Rationale ##
capa.space for example provides permanent distributed storage with a chunking mechanism very similar to Swarm, and there may be other storage providers like this out there as well. Therefore, it can be used as a backend for "pinning" data, and Swarm can be used as an access/distribution mechanism for data stored in that storage. It's important that the same chunks should not be sto

[2019-10-11 00:50] holisticode commented on #57
Alternative to this, this external process could just issue a `RetrieveRequest` to its local Swarm node to access its pinned content, to which the swarm node responds with the chunk.

This would require that the Swarm node is able to identify this external process to be on the same machine. Could be resolved with keys or some similar mechanism.

Another option is to introduce a specific message ty

[2019-10-16 08:23] #54 closed, assigned to jmozah

[2019-10-21 09:51] acud commented on #30
1. is this still in progress?
2. who's owning this task?
3. why do we need to do this when we have the orange papers?

thanks

[2019-10-21 10:00] acud commented on #22
@vojtechsimetka:
https://github.com/ethersphere/swarm/issues/1467
https://github.com/ethersphere/swarm/issues/1437
https://github.com/ethersphere/swarm/issues/1438

we did not get a conclusive answer from Daniel or Viktor in this matter, FYI since this task apparently found its way into the backlog

writing something like this to provide pricing for a content addressed hash which is _not_ a manife

[2019-11-04 08:06] jmozah opened #58 "[EPIC] Pinning part 2"
## Rationale ##
In pinning [part 1](https://swarm-guide.readthedocs.io/en/latest/features/pin.html),  when a content is pinned on a Swarm node, it is guaranteed to be available on that local node ONLY. When the same content is retrieved from another Swarm node,  it uses the 'network copy'. If the network copy of the particular pinned content disappears as a result of garbage collection, pinning it

[2019-11-13 10:18] Eknir commented on #58
Notes from meeting 13/11 https://hackmd.io/b0mhMEClTrGyo1o-9EJbYw

[2019-11-13 10:31] jmozah commented on #58
Incentivised pinning (pinning part 3) https://hackmd.io/Z3OJnEA0StW_ic66cmTdxg

[2019-11-13 10:42] jmozah opened #59 "[User-Story] Global pinning - Single Owner Chunk"
## Rationale ##
Single Owner chunks is being proposed to be the generic structure for chunks which does not have the content hash as its address. A specific implementation is being used in feeds today. In global pinning also there is a need to build something like this. This user story is to write a proposal for a generic structure for such chunks.

## User-Story ##
- Write a implementation propos

[2019-11-19 19:22] holisticode opened #60 "[EPIC] Browser integration"
## Rationale ##
There is interest from browser vendors to "natively" support Swarm. The most probable configuration right now would be to run a Swarm binary and then interact from the browser via an API with the node.

## Owner ##
@acud

## Stakeholder Point of Contact ##
@acud

## Dependencies ##
The browser integration creates an important dependency with the incentives system. If contracts need

[2019-11-19 19:32] holisticode opened #61 "[EPIC] Postage stamps"
## Rationale ##
Postage stamps will be used for basic spam protection in Swarm, both for storage and PSS.
The SWIP https://github.com/ethersphere/SWIPs/blob/master/SWIPs/swip-8.md describes the building blocks for postage stamps.

We also need to identify the user stories for normal postage stamp operation. How does the user interact with the system? What does the user need to do in order to be ab

[2019-11-25 10:33] jmozah commented on #59
[This](https://hackmd.io/vA9MW4bLS7ih8fyrEWm35Q?view) document explains the flow in more details

[2019-12-13 16:25] nagydani opened #62 "[User-Story] Payment and Upload with Postage Stamps"
## Rationale ##

To impose a cost on uploads and efficiently allocate storage resources in the network, all uploads must be paid for.  This is somewhat unusual for the web, so a novel user experience needs to be developed. The closest and most familiar metaphor is _subscription_.

## User-Story ##

The user creates a subscription for a certain amount of time and storage (e.g. 1 month for 100 megab

[2020-01-16 13:09] gimibear commented on #60
What about antidetect browsers like gologinapp and others? Good alternative?

[2020-02-10 06:50] jmozah commented on #58
Single Owner Chunk method https://hackmd.io/DU1_sDWnS6GeEaOw5SA_rg

[2020-02-11 11:27] Eknir opened #63 "[User Story] Incentivized network IDs"
# Incentivized network IDs #
_"As a user of Swarm, I can connect to different BZZ Network IDs, such that I connect to Swarm with a different blockchain"_
## Epic link ##
[Stable SWAP](https://github.com/ethersphere/user-stories/issues/67)
## Rationale ##
Currently, Swap may only be enabled on when BZZ Network ID == 5. This works OK, when we assume that all nodes run on the same Ethereum network ID

[2020-02-11 11:31] Eknir opened #64 "[User-Story] SWAP-only network"
## Rationale ##
Currently, a non-swap-enabled Peer can connect to other protocols like retrieval on a swap-enabled Peer. The accounting hook will cause an error when a message is sent from the swap-enabled peer blocking the send but not disconnecting the peer. This will cause most retrieve requests to always fail if there is a non-swap Peer connected on retrieval (this was encountered during Devco

[2020-02-11 11:39] Eknir opened #65 "[User-Story] Zero-eth and zero-honey entry to Swarm"
## Rationale ##
Aspiring users of Swarm might not have the required Ether in order to interact with Swarm. In order to improve the UX for such users, it is desired that these users don't need Ether _before_ interacting with Swarm. Furthermore, the possibility of earning honey-tokens (anonymously) is of great value for the Ethereum ecosystem as a whole, as honey-tokens can be exchanged into Ether a

[2020-02-11 11:51] Eknir opened #66 "[User-Story] naming"
## Rationale ##
The SWAP source code is continuously in development. Issues such as (proper) naming, error handling, and logging must be up to high-quality standards, in order to improve the maintainability of the code.

## User-Story ##
As a developer of the Swarm source code, I want the variables and functions to be properly named, such that by just looking at the variable and function names, I

[2020-02-11 12:19] Eknir opened #67 "[EPIC] Stable SWAP"
## Description ##
A Stable SWAP serves as the backbone to enable the tit-for-tat bandwidth sharing mechanism of Swarm. By means of SWAP (the Swarm Accounting Protocol), nodes in the Swarm network keep track of how much bandwidth they use from their peers and how much bandwidth their peers are providing to them. When a peer, or the node itself, uses significantly more bandwidth than it provided (on

[2020-02-11 13:18] Eknir opened #68 "[User-Story] Transaction queue"
## Rationale ##
Swarm has interactions with the blockchain at multiple instances (deposit, cash out, funding). To allow multiple pending transactions at once, without running into issues with respect to [account nonces](https://medium.com/swlh/ethereum-series-understanding-nonce-3858194b39bf), there is a need to implement a transaction queue. This transaction queue, furthermore, allows for better

[2020-02-11 13:43] Eknir opened #69 "[User-Story] Logging"
## Rationale ##
It is beneficial to be able to filter logs on an _action prefix_for both devops (estimating the health of network) and end-users (keeping certain logs for audit purposes). This action-prefix is meant to group different functionalities of SWAP together (such as deployment, adding balance, cashing cheque) and can span multiple functions

## User-Story ##
* As a user of SWARM, I want

[2020-02-11 14:40] Eknir commented on #64
Comment from Ralph: https://github.com/ethersphere/swarm/issues/1917#issuecomment-582866222

[2020-02-11 14:45] santicomp2014 commented on #66
Maybe a simple way of consensus is a poll (form).
On different naming schemes, so we can all agree on it.

Write Guidelines of naming for SWAP

[2020-02-11 14:50] janos commented on #66
When in doubt, it is the best to consult first https://github.com/golang/go/wiki/CodeReviewComments and https://golang.org/doc/effective_go.html.

[2020-02-13 16:07] Eknir commented on #63
Spoken about during the [research office hour on 13/2](https://hackmd.io/hUuvDcIBQg6zIrA-rAonIQ). @janos does not really like the idea of adding more semantic meaning to a BZZ Network ID and explains that in BEE, there must be a new design about "Swarm Networks" and how to identify them anyways. The issue is that even if we say that if BZZ Network ID 103 equals Blockchain network ID 3, everybody c

[2020-02-13 16:09] Eknir commented on #64
We spoke about this in the [research office hour of 13/2](https://hackmd.io/hUuvDcIBQg6zIrA-rAonIQ). For now, the suggestion as proposed by @ralph-pichler is sufficient (although edge-cases still persist). This needs to be solved properly in the new BEE Stack @janos .

[2020-02-14 15:09] Eknir opened #70 "[User-Story] flexible cash-out"
## Rationale ##
The current code-base always cashes out a cheque, when the value of cashing out the cheque is twice the cost to cash out the cheque. This is obviously not the best approach.

## User-Story ##
As a user of Swarm, I want to customize when I cash out a cheque, such that the optimal balance between security and profit-per-cheque is achieved for each of my peers.

## Epic links ##
https

[2020-02-14 15:19] Eknir opened #71 "[User-Story] Seperate signing module"
## Rationale ##
The Swarm codebase currently requires private keys to be stored on disk, in order to interact with Swarm. This approach has obviously security problems and is not very flexible. We want to enable the usage of a separate signing module.

## User-Story ##
As a user of Swarm, I want to be able to interact with Swarm, without the need to store private keys on my node.

## Epic links ##

[2020-02-14 15:21] Eknir commented on #71
[Clef](https://github.com/ethereum/go-ethereum/tree/master/cmd/clef) is suggested

[2020-02-24 08:56] jmozah commented on #59
https://hackmd.io/G_BN6AxNRUKl1PhGBIL83Q

[2020-02-25 13:24] Eknir opened #72 "[User-Story] Bounced cheque"
## Rationale ##
When you have a peer whose chequebook has been bounced (only possible when the peer has written more cheques than the chequebook can cover), you want to disconnect from him because of the following reasons:
* Probably, your outstanding balance and any new cheques won't be cashable
* The peer has provably acted maliciously
* If all peers disconnect, this is a big incentive against e

[2020-02-25 13:52] Eknir opened #73 "[User-Story] Variable pricing"
## Rationale ##
In order to incentivize nodes to perform the best service for the cheapest price, it is necessary for the Swarm protocol to support variable pricing. Variable pricing will enable competition between nodes, ultimately benefitting the end-user of Swarm.

## User-Story ##
- As a downloader, I want to choose to which peers I send my retrieve-request, such that I can have the best price

[2020-02-25 14:59] Eknir commented on #70
Problem: the current cashout logic depends on the value of the cumulativePayout of the peers chequebook. If there is currently a transaction pending, this value is not yet updated, so we might decide to cash a cheque. This results in two cheques being cashed, one which gives us the expected profit, the other one not (we might even make a loss because of the transaction costs).
* Solution one: stor

[2020-03-10 12:01] #69 closed, assigned to nobody

[2020-03-10 13:24] Eknir commented on #61
Might be replaced by [RACE](https://github.com/Eknir/postage_payments)

[2020-03-17 16:09] #6 closed, assigned to acud

[2020-04-12 20:44] mortelli opened #74 "[User-Story] Global Pinning"
## Rationale ##
Users need to be able to guarantee their content is available through the Swarm network. They need to be able to either take this responsibility upon themselves or invoke a 3rd party to provide this service.

## User-Story ##
As a node operator, I want to be able to provide and retrieve content marked as globally pinned by my own or other nodes.

Additionally, I want my node to aut

[2020-04-13 18:45] mortelli commented on #74
up to discussion whether this should be an epic and individual stories should be created (don't mind either way)

@Eknir